{% extends 'App1/base.html' %}
{% block content %}
  <!--============================================================== Top Bar ===================================================-->
{% include 'App1/abovenav.html' %}

{% comment %} including the navbar  {% endcomment %}
  {% include 'App1/navbar.html' %}



    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">
Hello, Welcome to</div>
<div class="text-2">
CODING ADDA</div>
<div class="text-3">
We are happy to help you <span class="typing"></span></div>
<a href="#about">Get Started</a>
            </div>
</div>
</section>
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">
About Us</h2>
<div class="about-content">
                <div class="column left">
                    <img src="C:\Users\chaud\OneDrive\Desktop\ITPROJECT/IMG_20210117_172951.jpg" alt="">
                </div>
<div class="column right">
                    <div class="text">
We are <span class="typing-2"></span></div>
<p>
CodingAdda is Started with a dream to provide clients best in class & quality Web Designs, Android Applications & Trusted Hosting Services. </p>
<p>Our main motive is to create a succesfull environment for personal growth and development specially in Rural Parts Of India.</p>
<p>We, here at CodingAdda are dedicated towards our clients and aims to be an industry leader in upcoming years in the Web Designing and Android Development field.</p>
<p>Today, we have collaborative relationships with different clients and we are working on a aim to build a brand reputation in designing industry.</p>
<p>CodingAdda will be aiming to become a prominent brand that promotes the future of marketing i.e Network & Digital Marketing. We are Aiming to launch different courses related to selected topics at affordable prices to make youth's of rural part of India more skillful.</p>
<a href="contact">Contact Us</a>
                    </div>
</div>
</div>
</section>
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">
Our Specialized Field Of Work</h2>
<div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
Web Designing</div>
<p>
Outstanding website design can help you make your business make a long lasting impression. Get your dream web site designed by our experts</p>
</div>
</div>
<div class="card">
                    <div class="box">
    <i class="fa fa-globe" aria-hidden="true"></i>
                        <div class="text">
Full Stack Web Development</div>
<p>
 We design complete web apps and websites. We work on the frontend, backend, database and debugging of web apps and websites on both client- and server-side</p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
UI/UX Design</div>
<p>We offer best UI/UX design services for your web and mobile apps. We have creative UI UX designers to design user interface to make you experience smooth and best in class</p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
Logo Design</div>
<p>
  Get a high-impact, creative and stunning Brand logo design for your company/site with best logo designers. </p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
Portfolio Making</div>
<p>
   Online portfolios are all about appearances. That's why we create best in class portfolios that make an impact. Plus easy slide shows, lots of storage, and a media library right at your fingertips.</p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
Android Development</div>
<p>
 Creative & Modern Applications are created for devices running on the Android operating system with latest technologies and Security</p>
</div>
</div>
</div>
</div>
</div>
</section>
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">
Technologies On Which We Work On</h2>
<p>
{% load static %}
<!-- three_box  -->
<div id="service" class="three_box">
   <div class="container">
      <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="{% static 'App1/services/images/html.png' %}" alt="#" /></i>
               <h3> HTML5</h3>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="{% static 'App1/services/images/css.png' %}" alt="#" /></i>
               <h3>CSS</h3>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="" alt="#" /></i>
               <h3>Node Js</h3>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="" alt="#" /></i>
               <h3>Django</h3>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="" alt="#" /></i>
               <h3>JavaScript</h3>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="" alt="#" /></i>
               <h3>Python</h3>
           
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="{% static 'App1/services/images/html.png' %}" alt="#" /></i>
               <h3>Java(W.S.P)</h3>

            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="images/service3.png" alt="#" /></i>
               <h3>Kotlin</h3>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="Soft-box"> <i><img src="images/service3.png" alt="#" /></i>
               <h3>Adobe Xd</h3>
            </div>
         </div>
      </div>
   </div>
</div>

</p>
</section>
{% include 'App1/footer.html' %}
{% endblock %}
