{% extends 'App1/base.html' %}

{% block content %}
{% include 'App1/abovenav.html' %}
{% include 'App1/navbar.html' %}
 <div class="container">
      <div class="pricing-table table1">
        <div class="pricing-header">
          <div class="price"><span>₹</span>1200</div>
          <div class="title">Personal Website</div>
        </div>
        <ul class="pricing-list">

          <li><strong>Easy</strong> to use</li>
          <div class="border"></div>
          <li><strong>Attractive</strong> Design</li>
          <div class="border"></div>
          <li><strong>User</strong> Freindly</li>
          <div class="border"></div>
          <li><strong>20GB</strong> Storage</li>
          <div class="border"></div>
          <li><strong>1</strong> Email Address</li>
          <div class="border"></div>
          <li><strong>1</strong> Domain Name</li>
          <div class="border"></div>
          <li><strong>Hosting</strong> Charges Applied</li>
          <div class="border"></div>
          <li><strong> Paid </strong> Maintainance</li>
          <div class="border"></div>
          <li><strong>24*7</strong> Support</li>
        </ul>
        <a href="#">Buy Now</a>
      </div>

      <div class="pricing-table table2">
        <div class="pricing-header">
          <div class="price"><span>₹</span>3999</div>
          <div class="title">Business Website</div>
        </div>
        <ul class="pricing-list">
          <li><strong>Best</strong> in Quality</li>
          <div class="border"></div>
          <li><strong>Attractive</strong> Design</li>
          <div class="border"></div>
          <li><strong>User</strong> Freindly</li>
          <div class="border"></div>
          <li><strong>60GB</strong> Storage</li>
          <div class="border"></div>
          <li><strong>2</strong> Email Address</li>
          <div class="border"></div>
          <li><strong>3</strong> Domain Name</li>
          <div class="border"></div>
          <li><strong>Free</strong> Hosting</li>
          <div class="border"></div>
          <li><strong>Free</strong> Maintainance</li>
          <div class="border"></div>
          <li><strong>24*7</strong> Support</li>
        </ul>
        <a href="#">Buy Now</a>
      </div>

      <div class="pricing-table table3">
        <div class="pricing-header">
          <div class="price"><span>₹</span>7999</div>
          <div class="title">E-commerce Website</div>
        </div>
        <ul class="pricing-list">
          <li><strong>Attractive</strong> Design</li>
          <div class="border"></div>
          <li><strong>User</strong> Freindly</li>
          <div class="border"></div>
          <li><strong>4000</strong> Images Can Be Added</li>
          <div class="border"></div>
          <li><strong>40</strong> Per Extra Images</li>
          <div class="border"></div>
          <li><strong>200GB</strong> Storage</li>
          <div class="border"></div>
          <li><strong>10</strong> Email Address</li>
          <div class="border"></div>
          <li><strong>10</strong> Domain Name</li>
          <div class="border"></div>
          <li><strong>Free</strong> Hosting & Maintainance</li>
         
          <div class="border"></div>
          <li><strong>24*7</strong> Support</li>
        </ul>
        <a href="#">Buy Now</a>
      </div>
    </div>
    <div class="containers">
      <div class="pricing-table table1">
        <div class="pricing-header">
              <div class="price"><span>₹</span>3999</div>
              <div class="title">School/College Website</div>
            </div>
            <ul class="pricing-list">
              <li><strong>Attractive</strong> Design</li>
              <div class="border"></div>
              <li><strong>User</strong> Freindly</li>
              <div class="border"></div>
              <li><strong>Feature</strong> Loaded</li>
              <div class="border"></div>
              <li><strong>5</strong> Email Address</li>
              <div class="border"></div>
              <li><strong>2</strong> Domain Name</li>
              <div class="border"></div>
              <li><strong>60GB</strong> Storage</li>
              <div class="border"></div>
              <li><strong>Section</strong> For Online Teaching/Exams</li>
              <div class="border"></div>
              <li><strong>User/Client</strong> Side Database</li>
              <div class="border"></div>
              <li><strong>Free</strong> Maintainance</li>
              <div class="border"></div>
              <li><strong>24*7</strong> Support</li>
            </ul>
            <a href="#">Buy Now</a>
          </div>

          <div class="pricing-table table2">
            <div class="pricing-header">
              <div class="price"><span>₹</span>3999</div>
              <div class="title">Android Application</div>
            </div>
            <ul class="pricing-list">
              <li><strong>Attractive</strong> Design</li>
              <div class="border"></div>
              <li><strong>Easy</strong> Interface</li>
              <div class="border"></div>
              <li><strong>User</strong> Freindly</li>
              <div class="border"></div>
              <li><strong>Regular</strong> Updates</li>
              <div class="border"></div>
              <li><strong>Login/SignUP</strong> Section</li>
              <div class="border"></div>
              <li><strong>End To End Encrypted</strong> Data Security</li>
              <div class="border"></div>
              <li><strong>Play Store</strong> Launching Available</li>
              <div class="border"></div>
              <li><strong>Assured</strong> Bug Fixing in 24Hrs</li>
              <div class="border"></div>
              <li><strong>Free</strong> Maintainance</li>
              <div class="border"></div>
              <li><strong>24*7</strong> Support</li>
            </ul>
            <a href="#">Buy Now</a>
          </div>
             <div class="pricing-table table3">
                      <div class="pricing-header">
                        <div class="price"><span>₹</span>3999</div>
                        <div class="title">Web Designing</div>
                      </div>
                      <ul class="pricing-list">
                        <li><strong>Eye-Catching</strong> Design</li>
                        <div class="border"></div>
                        <li><strong>Attractive</strong> Interface</li>
                        <div class="border"></div>
                        <li><strong>User</strong> Freindly</li>
                        <div class="border"></div>
                        <li><strong>Easy</strong> To Use</li>
                        <div class="border"></div>
                        <li><strong>Practical</strong> in nature</li>
                        <div class="border"></div>
                        <li><strong>Designed using</strong> Modern Tools</li>
                        <div class="border"></div>
                        <li><strong>Linked</strong> Social-media Accounts in Portfolio</li>
                        <div class="border"></div>
                        <div class="border"></div>
                        <li><strong>Contains</strong> Attractive Utilities </li>
                        <div class="border"></div>
                        <li><strong>Can be Converted</strong> in Website</li>
                        <div class="border"></div>
                        <li><strong>24*7</strong> Support</li>
                        
                      </ul>
                      <a href="#">Buy Now</a>
                    </div>                 
        </div>
              <div class="containers">
                <div class="pricing-table table1">
                  <div class="pricing-header">
                        <div class="price"><span>₹</span>1999</div>
                        <div class="title">Personal Portfolio</div>
                      </div>
                      <ul class="pricing-list">
                        <li><strong>Attractive</strong> Portfolio</li>
                        <div class="border"></div>
                        <li><strong>Available</strong> For Every Platform</li>
                        <div class="border"></div>
                        <li><strong>Responsive</strong> Pages</li>
                      </ul>
                      <a href="#">Buy Now</a>
                    </div>
                    <div class="pricing-table table1">
                      <div class="pricing-header">
                            <div class="price"><span>₹</span>999</div>
                            <div class="title">Logo Design</div>
                          </div>
                          <ul class="pricing-list">
                            <li><strong>Single</strong> Logo</li>
                            <div class="border"></div>
                            <li><strong>Pay</strong> On Delivery</li>
                            <div class="border"></div>
                            <li><strong>No</strong> Changes after delivery</li>
                          </ul>
                          <a href="#">Buy Now</a>
                        </div>
                        <div class="pricing-table table1">
                          <div class="pricing-header">
                                <div class="price"><span>₹</span>1199</div>
                                <div class="title">UI/UX Design</div>
                              </div>
                              <ul class="pricing-list">
                                <li><strong>Smooth</strong>Interface</li>
                                <div class="border"></div>
                                <li><strong>Linked</strong> With Evary Pages</li>
                                <div class="border"></div>
                                <li><strong>Covertible</strong> to codes if needed</li>
                              </ul>
                              <a href="#">Buy Now</a>
                            </div>
                    </div>
{% include 'App1/footer.html' %}
{% endblock %}